version: '3.8'
services:
  nestjs:
    build: .
    container_name: nestjs-app
    ports:
      - "3001:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: npm run start:prod